<h2 class="text-center">Workshop</h2>
<h3 class="text-center">Calculator</h3>
<hr>
<h4 class="text-center">Click on buttons or use your keyboard</h4>
<div class="d-flex justify-content-center">
    <div class="calculator col-5 d-flex flex-column">
        <div class="displaySum col px-3 mx-0 mt-2 text-right h1">{{ sum }}</div>
        <div class="bg-info col text-right">{{ operationsSave }}</div>
        <div class="line">
            <div class="button ml-0" (click)="operations('1')">1</div>
            <div class="button" (click)="operations('2')">2</div>
            <div class="button" (click)="operations('3')">3</div>
            <div class="button mr-0" (click)="operations('+')">+</div>
        </div>
        <div class="line">
            <div class="button ml-0" (click)="operations('4')">4</div>
            <div class="button" (click)="operations('5')">5</div>
            <div class="button" (click)="operations('6')">6</div>
            <div class="button mr-0" (click)="operations('-')">-</div>
        </div>
        <div class="line">
            <div class="button ml-0" (click)="operations('7')">7</div>
            <div class="button" (click)="operations('8')">8</div>
            <div class="button" (click)="operations('9')">9</div>
            <div class="button mr-0" (click)="operations('*')">*</div>
        </div>
        <div class="line">
            <div class="button ml-0" (click)="clear()">C</div>
            <div class="button" (click)="operations('0')">0</div>
            <div class="button" (click)="calculate()">=</div>
            <div class="button mr-0" (click)="operations('/')">/</div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center text-danger my-3">{{ errorMessage }}</div>
