.styleMovies {
    color: blue;
    font-size: x-large;
}

.card {
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
    width: 18rem;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
