<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">
                    <a routerLink="/components" class="nav-link font-weight-bold">Components</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a routerLink="/binding" class="nav-link font-weight-bold">Binding</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a routerLink="/directives1" class="nav-link font-weight-bold">Directives1</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a routerLink="/directives2" class="nav-link font-weight-bold">Directives2</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a routerLink="/driven-forms" class="nav-link font-weight-bold">Driven Forms</a>
                </li>
                <li class="nav-item font-weight-bold">
                    <a routerLink="/reactive-forms" class="nav-link font-weight-bold">Reactive Forms</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/input" class="nav-link font-weight-bold">Input</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/output" class="nav-link font-weight-bold">Output</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user-interactions" class="nav-link font-weight-bold">User Interactions</a>
                </li>




                <li class="nav-item font-weight-bold">
                    <a routerLink="/sign-up" class="nav-link font-weight-bold">SIGN-UP (Reactive form)</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/search" class="nav-link font-weight-bold">Tuto Search exemple</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/searchMovie" class="nav-link font-weight-bold">Search Movie</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cocktails" class="nav-link font-weight-bold">Cocktails (Service)</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cocktails2" class="nav-link font-weight-bold">Cocktails -- JSON (Service 2)</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/nasa" class="nav-link font-weight-bold">Nasa</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/pokedex" class="nav-link font-weight-bold">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pokedex" class="nav-link font-weight-bold">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pokedex" class="nav-link font-weight-bold">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/game-list" class="nav-link font-weight-bold">Game List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
