<app-cda-quests-nav></app-cda-quests-nav>
<h2 class="text-center">Quest Angular 03.2</h2>
<h3 class="text-center">Directives 2</h3>
<hr>
<button class="col mb-5" (click)="showMovies = !showMovies">Show/Hide List Of Movies</button>
<div *appDisplayMovies="showMovies" class="d-flex justify-content-around m-0">
    <div appStyles class="card">
        <img src="../../../assets/directives2/images/Pulp%20Fiction.jpg" class="card-img-top pt-2" alt="pulp fiction image">
        <div class="card-body px-0 text-center">
            <p class="card-text">Pulp Fiction (1994)</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/directives2/images/Gone%20With%20the%20Wind.jpg" class="card-img-top pt-2" alt="gone with the wind image">
        <div class="card-body px-0 text-center">
            <p class="card-text">Gone With the Wind (1939)</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/directives2/images/Casablanca.jpg" class="card-img-top pt-2" alt="casablanca image">
        <div class="card-body px-0 text-center">
            <p class="card-text">Casablanca (1942)</p>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/directives2/images/The%20Shawshank%20Redemption.jpg" class="card-img-top pt-2" alt="the shawshank redemption image">
        <div class="card-body px-0 text-center">
            <p class="card-text">The Shawshank Redemption (1994)</p>
        </div>
    </div>
</div>
