<p>menu works!</p>
<ul>
  <li>
    <a [routerLink]="['sign-up/']">SIGN-UP (Reactive form)</a>
  </li>
  <li>
    <a [routerLink]="['02-binding/']">USER</a>
  </li>
  <li>
    <a [routerLink]="['search/']">Tuto Search exemple</a>
  </li>
  <li>
    <a [routerLink]="['05-driven-forms/']">SIGN-UP (Driven Form)</a>
  </li>
  <li>
    <a [routerLink]="['searchMovie/']">Search Movie</a>
  </li>
  <li>
    <a [routerLink]="['input/']">Input</a>
  </li>
  <li>
    <a [routerLink]="['kittens/']">Les interactions utilisateur</a>
  </li>
  <li>
    <a [routerLink]="['cocktails/']">Cocktails (Service)</a>
  </li>
  <li>
    <a [routerLink]="['cocktails2/']">Cocktails -- JSON (Service 2)</a>
  </li>
</ul>


