<app-tutorials-nav></app-tutorials-nav>
<h2 class="text-center">Tutorial</h2>
<h3 class="text-center">Tic Tac Toe</h3>
<hr>
<div class="game-zone">
    <div class="box" *ngFor="let square of squares; let i = index" [ngClass]="{'cross': square.value === 'C', 'round': square.value === 'R',
        'cross-next' : turn === 0 && square.value === '', 'computer' : turn === 1}" (click)="playerClick(i)">
    </div>
</div>
<div *ngIf="isGameOver" class="col-md-12 result-modal">
    <div class="result">
        <p>{{ gameResult }}</p>
        <button class="btn btn-info" (click)=restartGame()>Restart</button>
    </div>
</div>
