.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ff0000;
    padding: .5rem;
}

.menu a:hover {
    box-shadow: 2px 2px 5px black;
    background-color: #ff0000;
}
