<p>calculator works!</p>


<div class="col-3 d-flex flex-column h1">

    <div class="displaySum rounded col px-3 mx-0 my-2 text-right">{{ sum }}</div>

  <div class="col d-flex text-center p-0 m-0">
    <div class="button rounded  ml-0" (click)="numbe(1)">1</div>
    <div class="button rounded" (click)="numbe(2)">2</div>
    <div class="button rounded" (click)="numbe(3)">3</div>
    <div class="button rounded mr-0" (click)="cancel()">C</div>
  </div>
  <div class="col d-flex text-center p-0 m-0">
    <div class="button rounded ml-0" (click)="numbe(4)">4</div>
    <div class="button rounded" (click)="numbe(5)">5</div>
    <div class="button rounded" (click)="numbe(6)">6</div>
    <div class="button rounded mr-0" (click)="setOperator('*')">*</div>
  </div>
  <div class="col d-flex text-center p-0 m-0">
    <div class="button rounded ml-0" (click)="numbe(7)">7</div>
    <div class="button rounded" (click)="numbe(8)">8</div>
    <div class="button rounded" (click)="numbe(9)">9</div>
    <div class="button rounded mr-0" (click)="setOperator('/')">/</div>
  </div>
  <div class="col d-flex text-center p-0 m-0">
    <div class="button rounded ml-0">.</div>
    <div class="button rounded" (click)="numbe(0)">0</div>
    <div class="button rounded" (click)="setOperator('+')">+</div>
    <div class="button rounded mr-0" (click)="setOperator('-')">-</div>
  </div>
</div>

