.information {
    cursor: pointer;
}

.information .box {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    width: 100%;
}

.information:hover .box {
    opacity: 0.9;
}

.createKitten, .kittensToAdopt, .adoptedKitten {
    display: block;
    border: 1px solid black;
}
