<div class="d-flex">
    <div class="col-8 d-flex pl-0 pr-1">
        <div class="createKitten col-5 pb-5">
            <app-create-kitten (sendKitten)="addKitten($event)"></app-create-kitten>
        </div>
        <div class="kittensToAdopt col-7">
            <h4 class="text-center">Kittens to adopt</h4>
            <div class="row justify-content-around">
                <div class="card col-5 information p-2 m-2" *ngFor="let currentKitten of kittens; let index = index" >
                    <img src="{{ currentKitten.image }}" class="card-img-top" alt="kitten image" />
                    <div class="box p-3">
                        <div>Name : {{ currentKitten.name }}</div>
                        <div>Race : {{ currentKitten.race }}</div>
                        <div>Birthdate : {{ currentKitten.birthdate }}</div>
                    </div>
                    <button type="button" class="btn btn-primary mt-1" (click)="adoptKitten(index)">Adopt The Kitten</button>
                </div>
            </div>
        </div>
    </div>
    <div class="adoptedKitten col-4">
        <h4 class="text-center">Adopted Kittens</h4>
        <app-user-kitten [kittens]="userKittens"></app-user-kitten>
    </div>
</div>
