.pokemonCard {
    width : 17rem;
    position: relative;
    cursor: pointer;
}

.pokemonCard:hover > .card-img-top {
    animation: cardHover 500ms ease-in-out;
}

@keyframes cardHover {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.cardBody {
    width: 100%;
    padding : .2rem;
    backdrop-filter: blur(3px);
    background-color: #ffffff8a;
    border-radius : 1rem;
    text-align: center;
    position: absolute;
    bottom : 0;
    transform: translateY(20px);
}
