<h4 class="text-center">Add a Kitten</h4>
<form [formGroup]="kittenForm" (ngSubmit)="thisForm.valid && createKitten()" #thisForm="ngForm">
    <div class="mt-3">
        <label for="name" class="form-label">Name : </label>
        <input id="name" type="text" name="name" class="form-control" placeholder="Kitten name" formControlName="name" />
    </div>
    <div class="mt-3">
        <label for="race" class="form-label">Race : </label>
        <input id="race" type="text" name="race" class="form-control" placeholder="Kitten race" formControlName="race" />
    </div>
    <div class="mt-3">
        <label for="birthdate" class="form-label">Birthdate : </label>
        <input id="birthdate" type="date" name="birthdate" class="form-control" placeholder="Kitten birthdate" formControlName="birthdate" />
    </div>
    <div class="mt-3">
        <label for="imageLink" class="form-label">Image link : </label>
        <input id="imageLink" type="url" name="imageLink" class="form-control" placeholder="Kitten photo Url" formControlName="imageLink" />
    </div>
    <button type="submit" class="btn btn-primary col mt-3">Add Kitten</button>
</form>
