<form (ngSubmit)="onSubmit()" [formGroup]="searchForm" #myForm="ngForm">
  <div formGroupName="identifierAndTitle">
    <div>
      Identifiant: <input name="identifier" formControlName="identifier" />
    </div>
    <div>Titre: <input name="title" formControlName="title" /></div>

    <div *ngIf="myForm.submitted && f['identifierAndTitle']?.errors['isRequired']">
      L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné.
    </div>
  </div>
  <div>
    Type:
    <select name="type" formControlName="type">
      <option value="film">film</option>
      <option value="série">série</option>
      <option value="épisode">épisode</option>
    </select>
  </div>
  <div>
    Année de sortie:
    <input type="number" name="yearOfRelease" formControlName="yearOfRelease" />
  </div>

  <div *ngIf="f['identifierAndTitle']?.get('identifier')?.value">
    Fiche:
    <select name="sheet" formControlName="sheet">
      <option value="complète">complète</option>
      <option value="courte">courte</option>
    </select>
  </div>
  <div *ngIf="myForm.submitted && f['yearOfRelease'].errors['required']">
    Le champs Année de sortie est requis.
  </div>
  <div *ngIf="myForm.submitted && f['yearOfRelease'].errors['min']">
    L'année doit être comprise entre
    {{ myForm.submitted && f['yearOfRelease'].errors['min'].minYearRequired }}
    et
    {{ myForm.submitted && f['yearOfRelease'].errors['min'].maxYearRequired }}.
  </div>

  <div>
    <button type="submit">submit</button> <button type="reset">reset</button>
  </div>
</form>
